*{
  margin: 0;
}
body{
  background-image: url('./pexels-aleksandar-pasaric-1323712.jpg');
  background-size: cover;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1{
  text-align: center;
  background-color: #282c34;
  color: white;
  padding: 10px;
}
h2{
  text-align: center;
  color: rgb(74, 168, 255);
  margin-top: 10px;
  margin-bottom: 10px;
}
.right{
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}